@model Blogging_Times.Posts.HomeViewModel

@{
    ViewBag.Title = "PostDetails";
}

<div class="col-lg-8 post-list blog-post-list">
    <div class="single-post">
        <img class="img-fluid" src="img/blog/p1.jpg" alt="">
        <ul class="tags">
            <li><a href="#">Art</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Fashion</a></li>
        </ul>
        <a href="#">
            <h1>
                @Model.PostDetails.PostTitle
            </h1>
        </a>
        <div class="content-wrap">
            @Html.Raw(Model.PostDetails.PostDescription)

        </div>
        <div class="bottom-meta">
            <div class="user-details row align-items-center">
                <div class="comment-wrap col-lg-6 col-sm-6">
                    <ul>
                        <li><a href="#"><span class="lnr lnr-heart"></span>	4 likes</a></li>
                        <li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
                    </ul>
                </div>
                <div class="social-wrap col-lg-6">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- Start nav Area -->
        <section class="nav-area pt-50 pb-100">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 nav-left justify-content-start d-flex">
                        <div class="thumb">
                            <img src="img/blog/prev.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <p>Prev Post</p>
                            <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                        </div>
                    </div>
                    <div class="col-sm-6 nav-right justify-content-end d-flex">
                        <div class="post-details">
                            <p>Prev Post</p>
                            <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                        </div>
                        <div class="thumb">
                            <img src="img/blog/next.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End nav Area -->
        <!-- Start comment-sec Area -->
        <section class="comment-sec-area pt-80 pb-80">
            <div class="container">
                <div class="row flex-column">
                    <h5 class="text-uppercase pb-80">05 Comments</h5>
                    <br>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c1.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Emilly Blunt</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c2.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Emilly Blunt</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c3.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Emilly Blunt</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c4.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Emilly Blunt</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c5.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Emilly Blunt</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End comment-sec Area -->
        <!-- Start commentform Area -->
        <section class="commentform-area pt-80">
            <div class="container">
                <h5 class="pb-50">Leave a Reply</h5>
                <div class="row flex-row d-flex">
                    <div class="col-lg-4 col-md-6">
                        <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                        <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                        <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                        <a class="primary-btn mt-20" href="#">Comment</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End commentform Area -->

    </div>
</div>

<div class="col-lg-4 sidebar">
    <div class="single-widget search-widget">
        <form class="example" action="/Home/Index" style="margin:auto;max-width:300px">
            <input type="text" placeholder="Search Posts" name="search" id="search" value="@ViewBag.Search>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="single-widget protfolio-widget">
        <img src="img/blog/user2.jpg" alt="">
        <a href="#"><h4>Adele Gonzalez</h4></a>
        <p>
            MCSE boot camps have its supporters and
            its detractors. Some people do not understand why you should have to spend money
            on boot camp when you can get.
        </p>
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
    </div>
    @Html.Partial("_HomeRightPanel");

    </div>
