@model IEnumerable<Blogging_Times.Data.PostCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="well">
    <select id="search_by_postType">
        <option value="0">All</option>
        <option value="1">Non Posted Category</option>
        <option value="2">Posted Category</option>
    </select><br /><br />
    <input type="text" name="" id="search_by_name" />
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="example1">
    <thead>
        <tr>
            <td>SL</td>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Created Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

<!-- DataTables -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section scripts{
    <!-- DataTables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
        $(document).ready(function () {
            var table=$('#example1').DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ajax: {
                    url: "/admin/PostCategories/GetPostCategoryResult",
                    data: function (d) {
                        return $.extend({}, d, {
                            "parameterName": $('#search_by_name').val(),
                            "parameterName2": $('#search_by_postType').val(),
                        });
                    }
                },
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],	//to add all button
                pageLength: 10,	//to make default


                columnDefs: [
                    { targets: 0, orderable: false },
                    { targets: 2, orderable: false },
                    {
                        render: function (data, type, row) {
                            var actionHTML = "<a href='/Admin/PostCategories/Edit/" + row[3] + "'>Edit&nbsp;|&nbsp;</a>";
                            actionHTML += "<a href='/Admin/PostCategories/Details/" + row[3] + "'>Details&nbsp;|&nbsp;</a>";
                            actionHTML += "<a href='/Admin/PostCategories/Delete/" + row[3] + "'>Delete</a>";
                            return actionHTML;
                        },
                        targets: 3,
                        orderable: false
                    },
                ],

            });
            $('#search_by_postType').change(function () {
                table.draw();
            });
            $("#search_by_name").keyup(function () {
                table.draw();
            });
        });
    </script>
}
